body{
  background-image: linear-gradient(to top right, red, white);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
}

div.satu{
  width: 700px;
  height: 460px;
  margin: 0 auto;
  background-image: radial-gradient(ellipse at bottom, white, blue);
}

div.dua{
  width: 700px;
  height: 200px;
  margin: 0 auto;
  background-image: radial-gradient(circle at left,white, blue, white);
}
